body{
    width: 100vw;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 5.0625rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    width: 9.56rem;
    height: 2.375rem;
}
.button__container{
    display: flex;
    gap: 1rem;
}
/* IMG PROFILE */
.container__profile-img{
    width: 100vw;
    position: relative;
    
    display: flex;
}

.background-effect{
    background-color: var(--color-brand);
    height: 55%;
    width: 100%;

    position: absolute;
    
}
.container__profile-img img{
    width: 20rem;
    height: 20rem;
    max-width: 50%;
    border-radius: 100%;
    border: 3px solid white;

    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;

    background: url(/src/assets/imgs/profile.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* PROFILE DATA */

.container__profile-data{
    font-family: 'Open Sans', sans-serif;
    width: 30rem;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    
    box-shadow: 0 3px 10px rgba(145, 97, 173, 0.2);
    border-radius: 0.3rem;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: var(--text-size-small);
    font-weight: var(--medium-weight);
}

.container__profile-data span{
    color: var(--color-brand);

}
.container__profile-data h2{
    font-family: 'Nunito', sans-serif;
    text-align: center; 
    color: var(--color-brand);
    
    font-size: var(--title-size-small);
    font-weight: var(--strong-weight);
}
.btns{
    display: flex;
    margin: 0 auto;
    gap: 1rem;
}
.profile__bar{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}

/*  CARD PET  */

.container__pets{
    height: 50vh;

    display: flex;
    flex-wrap: wrap;

    gap:1rem;
    padding: 1rem;
    overflow: auto;

    margin: 0 auto;
    margin-top: 1rem;
    max-width: 80rem;
    
}
.card__pet{
    width: 30rem;
    max-width: 90%;
    
    height: 12.5rem;

    border-radius: 0.3rem;
    box-shadow: 0 5px 18px rgba(97, 105, 173, 0.438);

    margin: 0 auto;
    flex-shrink: 0;

    position: relative;

    display: flex;
}

.profile__img-card{
    width: 12.5rem;
    min-width: 12.5rem;
    height: 100%;
    border-radius: 0.3rem 0rem  0rem 0.3rem;
       
}
.card__info{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 3rem;
}

/*  MODAIS  */

dialog {
    border: none;
    padding: 0;
    border-radius: 1rem;
    max-width: 90%;
    width: 30rem;
}

.headerModal {
    background-color: var(--color-brand);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 42px;
}

.headerModal img {
    height: 1.5rem;
    margin: 0.5625rem 1rem;
    cursor: pointer;
}

.bodyModal{
    margin: 3rem 1rem;
    max-width: 90%;
   
}

.bodyModal h2 {
    font-weight: 700;
    font-size: var(--title-size-medium);
    color: var(--color-brand);
    text-align: center;
    padding: 1rem;
}
.bodyModal form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.bodyModal input {
    border: 1px solid #B48CF2;
    border-radius: 1rem;
    color: #B48CF2;
    text-indent: 0.5rem;
    padding: 0.5rem;
    width: 70%;
    margin: 0 auto;
}
.bodyModal input:focus {
    outline: none;
}

.bodyModal select {
    border: 1px solid #B48CF2;
    border-radius: 1rem;
    color: #B48CF2;
    text-indent: 0.5rem;
    padding: 0.5rem;
    width: 75%;
    margin: 0 auto;
}
.bodyModal select:focus {
    outline: none;
}

.bodyModal p {
    font-weight: 400;
    font-size: 8px;
}

.footerModal{
    height: 12px;
    width: 100%;
    background-color: var(--color-brand);
    margin-top: 24px;
}
.btns-modal-delete{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer {
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1EEF7;
    min-height: 48px;
    color: var(--color-brand);
    font-weight: 400;
    font-size: 12px;
}

@media (max-width:425px){
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        height: 5.0625rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .logo {
        width: 9.56rem;
        height: 2.375rem;
    }
    .button__container{
        display: flex;
        gap: 0.3rem;
        margin-left: 0.2rem;
    }
    .button__container button{
        padding: 0.2rem 0.5rem;
    }

    .container__profile-img img{
        width: 11rem;
        height: 11rem;
    }
    .card__info{
        align-items: center;
        padding: 1rem;
        
        position: relative;
        right: -0.4rem;
    }
    .card__pet{
        display: flex;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
    }
}
@media (max-width:450px){
    .btns{
        flex-direction: column;
        align-items: center;
    }
    .card__info{
        margin-left: -1rem;
    }
}
@media (max-width:713px){
    .bodyModal{
        margin: 5rem 0;
        margin-left: 1rem;
    }
}
@media(min-width: 1024px){

}